## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [11]:
import os
import numpy as np
import pandas as pd

In [12]:
# 設定 data_path
dir_data = '../data/'

In [13]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
#列出前五筆
app_train.head()

Path of read in data: ../data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [14]:
df = pd.DataFrame(app_train)
#看有幾個column幾個row
df.shape
print('Rows in Data %i' % df.shape[0])
print('Columns in Data %i' % df.shape[1])

Rows in Data 307511
Columns in Data 122

#### 列出所有欄位

In [16]:
df.columns.values

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
       'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI',
       'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

#### 截取部分資料

In [27]:
#https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/462517/
#先行後列
#取某row值df.loc[2,'NAME_CONTRACT_TYPE']
#取2-4 Row值 
df.loc[2:4, :]
#取某column值df.loc[:,'NAME_CONTRACT_TYPE' : 'CODE_GENDER']

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
#df.loc[df['FLAG_OWN_CAR'] == 'Y'] #有自己的車子
df.loc[(df['FLAG_OWN_CAR'] == 'Y') & (df['CODE_GENDER'] == 'F') & (df['AMT_INCOME_TOTAL'] < 30000)] #有自己的車子和是女性

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
3119,103644,0,Cash loans,F,Y,N,1,27000.0,101880.0,10075.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
20727,124157,1,Cash loans,F,Y,Y,0,25650.0,2173500.0,48118.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
86070,199880,1,Cash loans,F,Y,N,2,27900.0,343800.0,16155.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
127680,248081,0,Cash loans,F,Y,Y,1,27000.0,130824.0,5062.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
173546,301115,0,Cash loans,F,Y,N,0,27000.0,760225.5,32337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
175433,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
188790,318876,0,Cash loans,F,Y,N,0,27900.0,161730.0,6979.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
205513,338222,0,Revolving loans,F,Y,Y,0,27000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,0.0
277924,422021,0,Cash loans,F,Y,N,1,27000.0,152820.0,15016.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
294741,441465,0,Cash loans,F,Y,Y,4,29250.0,101880.0,10939.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
299307,446748,0,Cash loans,F,Y,N,2,27000.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
307363,456088,1,Cash loans,F,Y,Y,0,29250.0,663093.0,21519.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [21]:
df.loc[df['AMT_INCOME_TOTAL'] >= 700000]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
319,100366,0,Revolving loans,M,Y,Y,0,765000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1064,101235,0,Revolving loans,F,N,Y,0,720000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1238,101461,0,Cash loans,M,Y,Y,0,810000.0,661500.0,37066.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1504,101769,0,Revolving loans,M,Y,Y,0,1080000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1586,101857,0,Cash loans,F,N,Y,0,720000.0,1125000.0,44617.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1723,102015,0,Cash loans,F,N,Y,0,1935000.0,269550.0,10534.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2009,102356,0,Cash loans,M,Y,Y,1,765000.0,1350000.0,51552.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,1.0
3209,103747,0,Cash loans,F,Y,Y,0,810000.0,900000.0,94509.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
3287,103838,0,Cash loans,M,Y,Y,0,810000.0,630000.0,59035.5,...,0,0,0,0,0.0,4.0,3.0,0.0,0.0,1.0
3371,103938,0,Cash loans,F,N,N,1,1350000.0,2410380.0,109053.0,...,1,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
3544,104141,0,Cash loans,F,N,Y,0,787500.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
3656,104264,0,Cash loans,F,Y,Y,0,720000.0,1928304.0,71590.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4603,105384,0,Revolving loans,F,Y,Y,0,1350000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4695,105489,0,Cash loans,F,Y,Y,0,720000.0,2013840.0,55377.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
5673,106637,0,Cash loans,M,Y,Y,3,967500.0,450000.0,30073.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
6154,107189,0,Cash loans,F,Y,N,1,810000.0,360000.0,35604.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7055,108216,0,Cash loans,F,Y,Y,0,720000.0,1255680.0,45234.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,6.0
7061,108224,0,Cash loans,F,Y,N,0,1035000.0,2695500.0,74254.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
8086,109431,0,Revolving loans,M,Y,Y,0,900000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8314,109690,0,Cash loans,F,N,Y,0,1350000.0,427450.5,18238.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9342,110860,0,Revolving loans,M,Y,Y,0,900000.0,540000.0,54000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10222,111903,0,Revolving loans,M,N,Y,3,2250000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10249,111932,0,Revolving loans,F,N,Y,0,855000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10608,112362,0,Cash loans,M,Y,N,1,765000.0,675000.0,36616.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
10979,112783,0,Cash loans,M,N,N,0,720000.0,1056447.0,31018.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
11068,112894,0,Cash loans,M,Y,N,0,1350000.0,835380.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
11344,113213,0,Cash loans,M,Y,N,0,1125000.0,701730.0,72036.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
12005,114000,0,Cash loans,M,Y,Y,0,1125000.0,848308.5,63427.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12108,114122,0,Revolving loans,M,Y,Y,0,1080000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
12374,114424,0,Cash loans,M,Y,N,0,900000.0,971280.0,56790.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293342,439846,0,Cash loans,M,Y,Y,0,1575000.0,2031651.0,188136.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294076,440695,0,Cash loans,M,Y,Y,2,2025000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294141,440768,0,Revolving loans,M,N,Y,0,1800000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
294383,441052,0,Revolving loans,M,Y,Y,1,1350000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
294589,441287,0,Cash loans,F,Y,N,0,1350000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
294892,441639,0,Revolving loans,F,N,Y,0,2250000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
295289,442109,0,Cash loans,F,Y,Y,0,742500.0,2013840.0,55507.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
295887,442808,0,Cash loans,M,Y,N,0,742500.0,2250000.0,59355.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
295955,442886,0,Revolving loans,F,N,N,2,900000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
296216,443181,0,Cash loans,F,Y,Y,1,1125000.0,1218555.0,84937.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
296411,443413,0,Cash loans,M,Y,Y,1,810000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
296499,443517,0,Cash loans,F,N,Y,0,810000.0,675000.0,32602.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
296608,443647,0,Cash loans,M,Y,Y,1,990000.0,877500.0,31518.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
296626,443665,0,Cash loans,F,N,N,0,1125000.0,2007000.0,53073.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
297112,444218,0,Cash loans,F,N,Y,0,900000.0,267102.0,30339.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
297755,444955,0,Cash loans,M,N,Y,0,1035000.0,1575000.0,54877.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
298835,446196,0,Revolving loans,F,N,N,1,900000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299722,447229,0,Cash loans,F,Y,Y,0,810000.0,728460.0,82516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
300468,448102,0,Cash loans,F,N,Y,0,1575000.0,1223010.0,51948.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
301043,448766,0,Cash loans,F,N,Y,0,733500.0,1312110.0,55723.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
301058,448783,0,Cash loans,M,Y,Y,0,900000.0,1786500.0,98028.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
301728,449559,0,Revolving loans,M,Y,Y,0,900000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304075,452302,0,Cash loans,M,Y,N,1,900000.0,1347466.5,71923.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
304477,452764,0,Cash loans,F,Y,Y,1,2025000.0,935640.0,93487.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304993,453357,0,Cash loans,M,N,Y,0,855000.0,684738.0,22216.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
305577,454039,0,Cash loans,M,Y,Y,0,1215000.0,1264738.5,67513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
306028,454569,0,Revolving loans,M,Y,Y,0,1350000.0,1575000.0,78750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306179,454746,0,Cash loans,M,Y,Y,1,949500.0,735579.0,35518.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306285,454864,0,Cash loans,F,N,N,1,936000.0,1014493.5,55165.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0